/*

    Define base colors from:
        - Rosé Pine (Default)

*/
:root {
    --base: #191724;
    --surface: #1f1d2e;
    --overlay: #26233a;

    --muted: #6e6a86;
    --subtle: #908caa;
    --text: #e0def4;

    --love: #eb6f92;
    --gold: #f6c177;
    --rose: #ebbcba;
    --pine: #31748f;
    --foam: #9ccfd8;
    --iris: #c4a7e7;

    --highlightLow: #21202e;
    --highlightMed: #403d52;
    --highlightHigh: #524f67;

    /*
        Change this to your liking, I prefer this one.
    
        You may also have to tweak other stuff for readability.
        But for the color that's set right now it's alright,
        So it isn't my problem. :3
        Sorry!
    */
    --primary-accent: var(--love);
}

/*
    Set dark mode colors.

    Light mode is a sin so I won't do it.
    (not just my motovation being gone i swear)
*/
body.body--dark {
    --textDefault: var(--text);
    --textOpposite: var(--surface);

    --keyColor: var(--primary-accent);

    background: var(--base);
}
